---
import { render } from "astro:content";
import BuyButton from "./BuyButton.astro";

const { book } = Astro.props;

const {data, slug} = book;
const { title, author, img, readtime, popularity, buy} = data;
const { Content } = await render(book);
const stars = [...Array(popularity)].map(()=> '⭐').join('')
---
<div class="flex flex-col items-center">
    <h3 class="text-2xl m-0 mb-1 text-center">
        Daily Book
    </h3>
    <div class="flex bg-linear-60 from-amber-600 via-amber-500 to-amber-400 p-2 gap-1 w-full sm:rounded-xl sm:w-fit">
        <img 
            class="w-40 rounded-sm sm:w-60 sm:rounded-lg h-full aspect-[5/7]"
            src=`/covers/${img}` 
            alt={title}
        >
        <div class="flex flex-col justify-between items-center">
            <div class="flex flex-col gap sm:gap-2">
                <span
                    class="text-lg font-bold tracking-tighter text-amber-950"
                >
                    {title}
                </span>
                <span
                    class="text-md font-semibold text-amber-900"
                >
                    {author}
                </span>
                <span
                    class="text-sm text-amber-950"
                >
                    Lectura en {readtime} horas.
                </span>
                <BuyButton buy={buy}/>
            </div>
            <div>
                <span 
                    class="text-sm text-amber-950 font-semibold"
                >
                    Popularidad:
                </span>
                <span
                    class="text-lg"
                >
                    {stars}
                </span>
            </div>
            <a 
                href=`/books/${slug}`
                class="font-semibold no-underline bg-amber-800 hover:scale-105  text-amber-50 px-1 rounded-sm w-fit"
            >
                Ir a Libro
            </a>
    </div>
    </div>
    <span 
        class="m-1 max-w-4xl"
    >
        <Content/>
    </span>
</div>