---
import { render } from "astro:content";
import BuyButton from "./BuyButton.astro";

const { book } = Astro.props;

const { title, author, img, readtime, popularity, buy} = book.data;
const { Content } = await render(book);
const stars = [...Array(popularity)].map(()=> '⭐').join('')
---
<div class="flex flex-col sm:mx-10 items-center">
    <h3 class="text-2xl m-0 mb-1 text-center">
        Daily Book
    </h3>
    <div class="flex bg-linear-60 from-amber-600 via-amber-500 to-amber-400 p-2 gap-1 w-full sm:rounded-xl sm:w-fit">
        <img 
            class="w-40 rounded-sm sm:w-60 sm:rounded-lg h-full aspect-[5/7]"
            src=`/covers/${img}` 
            alt={title}
        >
        <div class="flex flex-col justify-between">
            <div class="flex flex-col">
                <span
                    class="text-lg font-bold tracking-tighter text-amber-950"
                >
                    {title}
                </span>
                <span
                    class="text-md font-semibold text-amber-900"
                >
                    {author}
                </span>
                <span
                    class="text-sm text-amber-950"
                >
                    Lectura en {readtime} horas.
                </span>
                <BuyButton buy={buy}/>
            </div>
            <span 
                class="text-sm text-amber-950 font-semibold"
            >
                Popularidad: {stars}
            </span>
        </div>
    </div>
    <span 
        class="m-1 max-w-4xl"
    >
        <Content/>
    </span>
</div>