---
const {slug, data} = Astro.props;
const { title, author, description, img, readtime } = data;
---
<a href={`/books/${slug}`} class="sm:w-lg transition hover:scale-105 flex items-center no-underline text-current">
    <div class="w-full sm:rounded-md p-1 sm:p-2 flex items-center gap-1 bg-linear-60 from-amber-500 via-amber-400 to-amber-300">
        <img 
            transition:name={`img-${slug}`}
            src={`/covers/${img}`} 
            alt={title}
            class="w-15 rounded-sm sm:w-22 sm:rounded-lg h-full aspect-[5/7]"
        /> 
        <div class="flex flex-col">
            <span class="text-lg sm:text-xl m-0 font-bold text-amber-950 tracking-tighter">
                {title}
            </span>
            <span class="text-sm font-semibold text-amber-900">
                {`Autor: ${author}`}
            </span>
            <span class="text-black text-sm line-clamp-2 sm:line-clamp-3 w-full">
                {description}
            </span>
            <span class="text-xs text-amber-950">
                Lectura en {readtime} minutos.⏳
            </span>
        </div>
    </div>
</a>